body
{
     background: linear-gradient(#FFFFED, yellow);
}

header
{
    width:140px;
    height:70px;
    border:1px;
    color:white;
    background: blue;
    border-radius:50%;
    padding:20px;
}